#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* You can add this in a .css file or within styled-components or inline styles */

/* Container for the image */.image-container {
                               display: flex;
                               justify-content: center;
                               align-items: center;
                               padding-top: 20px;  /* Adjust padding as needed */
                             }

.centered-image {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image fills the container without distortion */
  object-position: center;
}


th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}
h1, h2, h3,p,label{
  text-align: center;
  color: #2C3E50;
}


.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  color: black;
  background-color: gray;
}

.content-container {
  margin-top: 20px;

}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

